{% extends "base.html" %}

{% block title %}
    Home Page
{% endblock %}


{% block content %}

<div class="card" style="width: 18rem; margin-top: 30px;">
  <img src="/static/img/number3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">T-shirt✨</h5>
    <p class="card-text">Hand made, Made with  love to make your days happier and prettier ♥. 15$ </p>
    <a href="#" class="btn btn-primary">Add to basket🛒</a>
  </div>
</div>

<div class="card" style="width: 18rem; margin-top:-475px; margin-left:490px; height:473px;">
  <img src="/static/img/number4.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">T-shirt 🌠</h5>
    <p class="card-text">Hand made, Made with  love to make your days happier and prettier ♥. 10$ </p>
    <a href="#" class="btn btn-primary">Add to basket🛒</a>
  </div>
</div>

<div class="card" style="width: 18rem; margin-top:-475px; margin-left:992px; height:473px;">
  <img src="/static/img/number1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Necklace✨</h5>
    <p class="card-text">Hand made, Made with  love to make your days happier and prettier ♥. 8$ </p>
    <a href="#" class="btn btn-primary">Add to basket🛒</a>
  </div>
</div>

{% endblock %}